@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

html {
    background-color: #093656;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContent {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 20px;
    width: 80px
}

label {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 4px;
    font-family: monospace;
    font-size: 18px;
}

a {
    color: rgb(232, 232, 232);
}

.errortext {
    margin-top: 20px;
    color:rgb(235, 64, 52)
}

hr {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 64px;
    border: 1px solid #5c5c5c;
}

div.graphFlex {
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}

div.inputs {
    display: block;
    margin-right: 5%;
}

div.graph {
    display: block;
    width: 50%;
}

div.sunData {
    display: block;
    margin-left: 6%
}

footer {
    width: 100%;
    margin-top: 22px;
    margin-bottom: 22px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    color: #8a8a8a;
}