@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

html {
    background-color: #093656;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainContent {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%
}
/*body {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*
button{ 
    margin: 100;
    padding: 100;
    font-size: 45px;
    background-color: #1F7928;
    color: white;
    font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*/

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 8px;
}

.frontPhotos{
    align-items: center;
    position: relative;
    width: 300px;
    height: 300px;
    top: 0;
    left: 200;
    margin: 10px;
    padding: 5px;
}

.scrolltext{
    text-align: center;
    color: white;
}

label {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
    font-family: monospace;
    font-size: 18px;
}

a {
    color: rgb(232, 232, 232);
}

hr {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 64px;
    border: 1px solid #5c5c5c;
}

div.graph {
    display: block;
    width: 50%;
}

div.graphFlex {
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

footer {
    width: 100%;
    margin-top: 22px;
    margin-bottom: 22px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    color: #8a8a8a;
}